
.continu-btn{
    height: 38px;
    padding: 0 22px;
    line-height: 38px;
    display: inline-block;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border: 1px solid #f47e00;
    color: inherit;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    margin-top: 10px;
}
.continu-btn:hover{
    background-color: #f47e00;
    color: #fff;
}